body{
    background:
            url("../public/image/pw_maze_white.png")
            repeat;
}


.display_body{
    margin-top: 50px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
}


.title {
    margin-top: 50px;
}
.title h1 {
    text-align: center;
}
.title h1:before,
.title h1:after{
    background-color: lightgray;
    content: " ";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 295px;
}

.page_switch, .single_post{
    width: 800px;
    margin: auto;
}
.page_switch img{
    display: block;
    margin: 25px auto 25px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page_switch:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.single_post {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
}
.single_post .card-body{
    background-color:rgba(0,0,0,.03);
}

.single_post p {
    font-size: x-large;
    line-height: 30px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
